---
import { Image } from "astro:assets";
import { Nav } from "../components/Navbar";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import logo from "../logo.png";
---

<Layout title="Genius Express Delivery">
  <Nav>
    <Image
      class="object-fill object-center size-96"
      src={logo}
      alt={"genius express delivery logo"}
    />
  </Nav>

  <Hero />
  <Services />
  <Testimonials />
</Layout>
