---
import { Image } from "astro:assets";
import { Nav } from "../components/Navbar";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Testimonials from "../components/Testimonials.astro";
import Layout from "../layouts/Layout.astro";
import logo from "../logoCropped.png";
import { Contact } from '../components/Contact';
import { Footer } from '../components/Footer';
---

<Layout title="Genius Express Delivery">
  <Nav client:load>
    <Image
      class="object-center inline object-scale-down w-52 bg-transparent"
      src={logo}
      alt={"genius express delivery logo"}
    />
  </Nav>

  <Hero />
  <Services />
  <Testimonials />
  <Contact client:only="react"={{rootMargin: "200px"}} />
  <Footer />
</Layout>
