---
import { Image } from "astro:assets";
import backdrop from "../display.png";
---

<div class="relative object-contain h-96 w-full">
  <Image
    class="absolute w-full inset-0 h-full object-cover"
    src={backdrop}
    alt="logo"
  />
  <div
    class="bg-neutral-900 bg-opacity-40 absolute inset-0 w-full flex flex-col items-center justify-center gap-3"
  >
    <h1 class="text-4xl text-center lg:text-6xl text-white font-bold size-fit">
      <span
        class="bg-gradient-to-b from-brand-primary to-brand-secondary bg-clip-text text-transparent"
      >
        Fast
      </span> & <span
        class="bg-gradient-to-b from-brand-primary to-brand-secondary bg-clip-text text-transparent"
      >
        Reliable
      </span> Deliveries
    </h1>
    <p class="text-xl text-white text-center lg:w-1/2">
      We deliver smiles. On-time and reliable delivery services throughout
      Oregon and beyond
    </p>
  </div>
</div>
